/*
        @media not|only mediatype and (mediafeature and|or|not mediafeature) {
           CSS-Code;
        }

        mediatype: 
            all	        Used for all media type devices
            print	    Used for printers
            screen	    Used for computer screens, tablets, smart-phones etc.
            speech      Used for screenreaders that "reads" the page out loud

        Media Features
            min-width *	    The minimum width of the display area, such as a browser window
            max-width *	    The maximum width of the display area, such as a browser window
            max-height	    The maximum height of the display area, such as a browser window
            min-height	    The minimum height of the display area, such as a browser window
            orientation	    The orientation of the viewport (landscape or portrait mode)
            width	        The viewport width
            height	        The viewport height
            color	        The number of bits per color component for the output device
            monochrome	    The number of bits per "color" on a monochrome (greyscale) device
            ......
      */
body {
  background-color: rgb(221, 60, 60);
  color: white;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 48px;
}
p {
  font-size: 20px;
  line-height: 2;
}
li {
  font-size: 20px;
}
