.text-primary{
    color: $primary;
}
.text-secondary{
    color: $secondary;
}
.text-white{
    color: $white;
}
.bg-primary{
    background-color: $primary;
}
.bg-secondary{
    background-color: $secondary;
}
