/* Mixins */
.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
#header {
  background-color: burlywood;
}
.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: burlywood;
}
.nav a {
  text-decoration: none;
  color: black;
}
.rounded {
  border-radius: 4px;
}
.rounded-lg {
  border-radius: 8px;
}
/* Namespace */
.card {
  border: 2px solid black;
  border-radius: 4px;
}
/********* important **********/
.unimportant {
  background: #f5f5f5;
  color: #900;
}
.important {
  background: #f5f5f5 !important;
  color: #900 !important;
}
/******* Mixin as Function *********/
div {
  padding: 33px;
}
.box {
  background: green;
}
.box1 {
  background: green;
}
/********** Merge *********/
.myclass {
  box-shadow: inset 0 0 10px #555, 0 2px 6px -4px red;
  padding: 5px;
}
.myclass2 {
  transform: rotate(45deg) scale(1.2);
}
/********* Parent Selectors ***********/
.button-ok {
  background-image: url("ok.png");
}
.button-cancel {
  background-image: url("cancel.png");
}
.button-custom {
  background-image: url("custom.png");
}
.link + .link {
  color: red;
}
.link .link {
  color: green;
}
.link.link {
  color: blue;
}
.link,
.linkish {
  color: cyan;
}
p,
a,
ul,
li {
  border-top: 2px dotted #366;
}
p + p,
p + a,
p + ul,
p + li,
a + p,
a + a,
a + ul,
a + li,
ul + p,
ul + a,
ul + ul,
ul + li,
li + p,
li + a,
li + ul,
li + li {
  border-top: 0;
}
/*********** Extends ************/
.inline,
nav ul,
a,
.multi_extend {
  color: red;
}
nav ul {
  background: blue;
}
a {
  background-color: chocolate;
}
.strong-alert,
.extend_all,
.multi_extend {
  font-weight: 900;
}
a.strong-alert,
a.extend_all {
  text-decoration: none;
}
.card .strong-alert,
.card .extend_all {
  background-color: beige;
}
.extend_all {
  font-size: larger;
}
.multi_extend {
  box-shadow: 0 0 4px;
}
.bucket {
  background-color: beige;
}
.bucket tr,
.some-class {
  color: blue;
}
.some-class {
  font-size: 20px;
}
[title=identifier],
.noQuote,
.singleQuote,
.doubleQuote {
  color: blue;
}
[title='identifier'],
.noQuote,
.singleQuote,
.doubleQuote {
  color: blue;
}
[title="identifier"],
.noQuote,
.singleQuote,
.doubleQuote {
  color: blue;
}
.noQuote {
  font-size: 16px;
}
.singleQuote {
  font-size: 16px;
}
.doubleQuote {
  font-size: 16px;
}
body {
  background-color: #f1f1f1;
  margin: 0;
  color: #2c2b2b;
}
