.list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
}

#header {
    background-color: burlywood;
}

.link-dont-generate() {
    text-decoration: none;
    color: black;
}

.nav {
    .list-unstyled();
    #header();
    a{
        .link-dont-generate();
    }
}